@charset "utf-8";


.form{
  width: 450px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
}
label{
  padding-right: 10px;
}
fieldset{
  border: none;
}

.btn li{
  padding-left: 10px;
}
p{padding:10px;}
h2{display: none;}