@charset "utf-8";

header i.fas{color: #333;}
.gnb >ul>li>a{
  color: #333;
}

header{
  position: static;
}

/* 서브화면 배경서식 */
.sub_top{
  background: url(../images/bg-main-test-driving.jpg) 100%;
  height: 400px;
  color: var(--m_bg_color);
  text-align: center;
}
.sub_top nav{text-align: left; line-height: 150px;
padding-left: 200px; font-size: var(--f_size2);}
.sub_top > h2{font-size: 40px; padding: 20px 0px;}
.sub_top > p {font-size: 20px;}

/* 폼태그 서식 */

.online_reserve > h2 {display: none;}
fieldset{
  width: 480px;
  margin: 50px auto;
}
fieldset > legend{
  
}
.car_reverse{
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 1000px;
  margin: 0px auto 30px auto;
}